<footer class="">
    <div class="bg-info py-3">
        <p class="small text-center mx auto pt-3 px-3">Copyright <i class="bi bi-r-circle"></i> Educ capacitaciones. Todos los derechos reservados.</p>
        <p class="small text-center mx auto px-3">Desarrollado por Jasmin S.</p>
    </div>
</footer>