<section class="container py-5 text-center mx-auto">
    <h5 class="px-5">Nuestros cursos son realizados bajo la metodología Bootcamp, basada en el autoaprendizaje, el
        aprendizaje entre pares y el trabajo colaborativo, siendo un metodo de enseñanza intensiva
        que en un corto periodo de tiempo entrega competencias y habilidades que permiten a los trabajadores
        asumir nuevos desafíos laborales.
    </h5>
    <div class="d-flex justify-content-center py-3 mx-auto">
        {{>tableBootcamp}}
    </div>
    <div class="d-flex flex-wrap justify-content-evenly py-5">
        <div class="box px-5 py-4 rounded-3 mb-2">
            <h2 class="fs-1 text-center mx-auto">+78% </h2>
            <p class="text-center mx-auto fs-5">Empleabilidad</p>
        </div>
        <div class="box px-5 py-4 rounded-3 mb-2">
            <h2 class="fs-1 text-center mx-auto">+3.5%</h2>
            <p class="text-center mx-auto fs-5">Incremento <br> salarial</p>
        </div>
        <div class="box px-5 py-4 rounded-3 mb-2">
            <h2 class="fs-1 text-center mx-auto">+95%</h2>
            <p class="text-center mx-auto fs-5">Satisfacción</p>
        </div>
    </div>
</section>
<style>
    h2{
        font-family: 'Archivo Black', sans-serif;
    }
    .box{
        width: 250px;
        height: 160px;
        background-color: rgb(180, 224, 114);
    }
</style>