<section class="contact">
    <div>
        <img src="/krakenimages.jpg" alt="contactanos">
        <div class="text">
            <h2 class="text-center text-black fs-1 fw-bold">Contáctanos</h2>
            <h4 class="text-center text-black fw-bold">Gracias por tu interés en Mundo EDUC</h4>
        </div>
    </div>
    <div class="container py-5">
        <h5 class="text-center mx-auto">
            Para consultas en general escríbenos a sumate@educ.com.
        </h5>
    </div>
</section>

<style>
    .contact img{
        width: 100%;
        height: 400px;
        position: relative;
        display: inline-block;
    }
    .text{
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>