<section class="container pb-5">
    <h5 class="py-5 px-5 text-center mx-auto">Para inscribirte en alguno de nuestros Boootcamp, ingresa tus 
        datos en el siguiente formulario y nos contactaremos contigo a la brevedad para continuar con tu 
        matrícula y registrarte como alumno de MUNDO EDUC en el curso de tu interés.
    </h5>
    <div class="pb-3">
        {{>formEnrollments}}
    </div>
</section>

