<section class="container pb-5">
    <div class="px-3">
        <h5 class="py-5 px-5 text-center mx-auto">Para ser parte de MUNDO EDUC e inscribirte en alguno de nuestros
            Boootcamp, ingresa tus datos en el siguiente formulario y nos contactaremos contigo a la brevedad para
            continuar con tu matrícula y registrarte en el curso de tu interés.
        </h5>
    </div>

    <div class="pb-3">
        {{>formEnrollments}}
    </div>
</section>